ÍNDICE 

1 ÍNDICE
2. Historia de la remiseria ……………………………………………………………………………………………………..……….2
3. Objetivos y alcances …………………………………………………………………………………………….…………….………..3
4. Organigrama funcional del negocio remiseria ……………………………………………………………………………...4
5. Descripción del funcionamiento del Organigrama ……………………………………………………………………......5
6. Funciones Laborales …………………………………………………………………………………………………………….……..6
7. Función de los móviles Sistema de remuneraciones, Relación dependencia de los móviles……...……..7
8. Roles Y Responsabilidades…………………………………………………………………………………………………………...8
9.  Agentes Externos……………………………………………………………………………………………………………………......9
10. ………………………………………………………………………………………………………………………………………….…......10
11. Descripción de la Atención Al Cliente…………………………………………………………………………………..…….11
12. Componentes del sistema de información actual……………………………………………………………………….12
13. APP móvil……………………………………………………..………………………………………………………………………......13
14.  App móvil Descripción de su  funcionamiento ……………………………………………………………………........14
15.  Cuadro descriptivo de los procesos más importantes que se realizan en el sistema……………….....15
16.  Diccionario Técnico………………………………………………………………………………………………………………....16
17.  Diccionario Técnico…………………………………………………………………………………………………………………17
18.  Diccionario Técnico ………………………………………………………………………………………………………………..18
19.  Nuevo sistema de información, objetivos ………………………………………………………………………………..19
20.  Nuevo sistema de información, requerimientos ……………………………………………………………………....20
21. Nuevo sistema de información , datos que almacena………………………………………………………………...21
22. Diagrama de clases…………………………………………………………………………………………………………………..22
23. Casos de uso…………………………………………………………………………………………………………………………….23
24.  Casos de uso…………………………………………………………………………………………………………………………….24
25.  Diagrama Entidad Relación……………………………………………………………………………………………………….25
26.  Diagrama de caso de uso…………………………………………………………………………………………………………..26
27.  ANEXO. ……………………………………………………………………………………………………………………………………..27
28.  Entrevistas ……………………………………………………………………………………………………………………………….28
28. .



HIstoria de la remiseria 
La remiseria fue fundada hace 23 años por Carlos Brondo, tomo la decisión de      empezar con el negocio de los remises el 18 de mayo de 1996, por varios motivos: 
uno de ellos era que en la zona no se encontraba una remisería para el uso de los vecinos. 
Otro de los motivos fue la necesidad económica propia,entonces llevó a cabo el negocio que se encuentra en Cajamarca 1840 Barrio santa Isabel segunda sección, actualmente se encuentra funcionando en el mismo lugar. 


Mapa de ubicación de la Remiseria


                                               Objetivos generales de la remiseria
      ● Generar fuentes de trabajo 
        ● Brindar un servicio óptimo a los clientes 
        ● Mantener la clientela mensualmente 
       ● Generar ingresos abundantes 
      ● Perdurar a través de los años 
Alcances de una remiseria 
Cubrir las necesidades de transporte a la brevedad 
Reservas las 24 horas
Cobertura en  zona sur y alrededores 
Viajes a toda la provincia 

 Fig 1: organigrama funcional del negocio remiseria 



 Descripción de funcionamiento de     organigrama 

                Operadores 
                    Móviles 
Gestión del Cliente: El operador recepta las llamadas de su respectivo turno:  (Mañana-Tarde-Noche) en el cual 
deberá administrar la agenda con las respectivas reservas y registrar los nuevos pedidos.
El operador mantiene la relación: 
Cliente-operador-Móvil 
Recepta el pedido, registra los datos y consulta la lista de los móviles disponibles para despachar el viaje.
despachar viajes:Cada uno de los móviles recibe un mensaje o llamada, en el cual el operador le pasa los datos correspondientes con las coordenadas y dirección de cada una de las reservas, el móvil debe llegar al domicilio del cliente a tiempo y forma y luego dirigirse a el destino correspondiente.
Administración de Agenda: El operador debe estar corroborando y controlando constantemente la agenda para despachar cada una de las reservas en tiempo y forma.
Reportar disponibilidad: Cada uno de los móviles debe dirigirse con el operador correspondiente y el mismo lo insertará en la lista “disponible” cada vez que este llame reportando su disponibilidad. 
Caja/recepción de pago de móviles: 
El operador es el encargado de recibir los pagos semanales de cada uno de los móviles.Los mismos son ingresados en la lista de “pagado” y se reinsertan a la lista de móviles “disponibles”.
Efectuar pago semanal: cada uno de los  móviles debe abonar semanalmente una tarifa de 800 pesos para mantener su puesto en la remiseria.





FUNCIONES  LABORALES 
El operador es el encargado de realizar las siguientes funciones:
Atender las llamadas 
Agendar los pedidos 
Registrar los datos pertinentes de cada uno de los clientes
Chequear la lista de los datos de los móviles que se encuentran de modo: "disponibles" 
Mandar los datos del cliente a el móvil que les corresponda realizar el viaje asignado por el operador.
Cada operario debe respetar el turno de cada uno de los móviles que están plasmados en la lista de  " disponibles"
Cada vez que el móvil mande los datos a el móvil,debe esperar a que este le responda si realizará el viaje o no, sino puede el móvil asignado se le da el viaje a el móvil que se encuentre siguiente en la lista de " disponible" 
Los operadores también se encargan de recibir el pago  semanal por parte de los móviles
Los operadores deben dar las coordenadas y/ o direcciones en caso de que el chófer no conozca la ubicación. 
El operador debe ingresar a el móvil a la lista cuando esté se reporta como "disponible"


 Función de los móviles 
El móvil se debe reportarse para que el operador lo ingrese a la lista de "disponible" y pueda comenzar a trabajar 
El móvil debe realizar el pago semanal por los servicios de viaje , es decir los viajes que la remisería ofrece para que trabajen los mismos
El móvil debe comunicarse con el operador de turno cada vez que termine un viaje, para que vuelva a la lista " disponibles" 
El móvil debe mantener una relación de responsabilidad,puntualidad y respeto para con los operadores y los clientes.
                                              Sistema de remuneraciones 
Cada chófer abona 800 pesos semanales mas 100 pesos por el servicio de teléfono para     acceder a los viajes que se les otorga durantes las horas que deseen trabajar. 
la recaudación de cada uno depende de los viajes que realice en el día, y queda como ganancia propia,no debe reintegrarle nada a la remiseria. 
Relación de dependencia de los móviles 

los móviles se encuentran de manera dependiente, es decir necesitan pagar la tarifa semanal para obtener la lista de viajes diarios,pero a su vez este debe tener su seguro al dia que corre por la cuenta de cada uno de los móviles.

Los móviles se encuentran de manera monotributista en relación de independencia legal  para con la remisería, pero si son empleados de la misma.

El sistema de negocio de la remiseria se basa en la idea central de abonar 800 pesos semanales más 100 pesos por el mantenimiento del teléfono, y las ganancias que son obtenidas en el dia y en la semana son propias de cada móvil . 

Roles y responsabilidades 

   ● Dueño, gerente: Es quien se encarga del correcto funcionamiento de la remiseria, y de que los    
empleados cumplan con las actividades  preestablecidas se encarga de las finanzas y el  mantenimiento  del establecimiento. 
     ● Telefonista n1 : Atención al cliente en el turno mañana de 06:00 a 14:00 hs 
● Telefonista n2: Atención al cliente en el turno tarde de 14:00 a 22:00 hs 
● Telefonista n3: Atención al cliente en el turno noche de 22:00 a 06:00 hs
● Móviles : Entre los 40 móviles, se ejecutan los viajes entre las 24 hs 


AGENTES EXTERNOS: 
Son los elementos del entorno externo. La remiseria no tiene control sobre 
cómo se formarán los mismos. Representan oportunidades o amenazas para 
la misma. 

● Agentes Internos. 
● Agentes Externos. 
Agentes internos
Consiste en factores que afectan y se ven afectados directamente por las operaciones de la organización. 
Clientes: 
La remiseria mantiene un trato cordial con sus clientela y se encuentran en permanente contacto con los mismos, es decir la remiseria también se responsabiliza por cualquier tipo de problema que pueda llegar a generarse con el servicio. 
Competencia: 
La remiseria estilo, sabe de la existencia de las demás remiserias que funcionan en su entorno, también trata de mejorar su servicio, para que la clientela siga eligiéndolos 

         Agentes Externos:
Está formado por los factores que pueden tener un efecto directo inmediato sobre las  operaciones de la remisería pero que, sin embargo, no influyen en sus actividades. 
          
  Dimensión económica: 
Los factores económicos más importantes para la remiseria son la inflación, las tasas de interés y el desempleo. 
Al haber menor demanda debido a la inflación, las posibilidades de empleo también decrecen así como la  clientela, ya que no usara frecuentemente el servicio debido a los aumentos de la tarifa de remis. 
Dimensión político-legal: 
Se refiere a las leyes comerciales, la relación entre el gobierno y las empresas y la situación político-legal general de un país. 
Las leyes comerciales establecen las obligaciones y los deberes de un negocio, en este caso remiseria. 
El cumplimiento de que los móviles estén habilitados como monotributistas y la responsabilidad de    pago de los seguros de vida de cada móvil ( auto). 


DESCRIPCIÓN  DE ATENCIÓN AL CLIENTE 
● 1) Recepción del pedido: por vía telefónica, se realiza la reserva del viaje o en forma personalizada para efectuar el servicio. 
● 2) Prestación del servicio: a través de la utilización del sistema de la aplicación remis que efectúa el comunicado del pedido de servicio a los móviles que se encuentran disponibles con la correspondiente información para la correcta prestación del servicio (domicilio, hora, nombre del solicitante en algunos casos). 
● 3) Comunicado: el operador efectúa el comunicado del servicio a los móviles del subzona al que pertenece la dirección; y en caso de no contar en la zona del vehículo disponible, se procede al pedido de colaboración a las subzonas adyacentes. 
● 4) Efectúa el control del estado de los móviles tendientes a controlar la situación de cada uno para verificar su situación y evitar imprevistos como robo, accidentes, inconvenientes del conductor o chófer. 
● 5) Procede al comunicado de lo que el usuario/cliente debe abonar mediante la comunicación de los datos pertinentes para efectuar el mismo (Km., coordenadas, etc) 

Componentes del sistema de información actual: 




LInea Telefonica -telefono FIjo-celular
app  MOVIL  
Agenda y bolígrafo
internet 
Mapa cartográfico de la ciudad de córdoba
DESCRIPCIÓN DE LOS COMPONENTES DEL SISTEMA 
  ● Para la comunicación con el cliente es necesario contar con una línea telefónica, que esté  disponible las 24 hs.
 ● El internet es utilizado para el funcionamiento de la app y si se requiere obtener algún tipo   de informacioń.
 ● Para almacenar los datos, se cuenta utiliza la agenda , los datos de registro de las    llamadas telefónicas, se almacenan en la misma.
● Para la ubicación de las calles y barrios utilizan el mapa de la ciudad de córdoba 
● la app remis, es una aplicación que se utiliza para enviar los datos, mediante un mensaje instantáneo.

 APP MÓVIL: 

es un sistema integral para remiserias que ofrece un servicio completo para llevar la organización de la misma, actualmente se está utilizando el servicio para móviles 
(choferes) es decir los móviles deben implementar para su uso cotidiano la App

descripción breve de los aspectos de la App/móvil/Para Choferes 

Administración de reservas futuras

Recepción de viajes en tiempo real

Historial de viajes en tiempo real

Control de estado de cuentas

vista en tiempo real de pasajeros en espera 
   
 



   
              























    
        
     
cuadro descriptivo de procesos más importantes que se realizan en el sistema
Diccionario Técnico
REMIS 
Un remis es un servicio de transporte público usado en Argentina y Uruguay Es un 
automóvil con conductor que se alquila para llevar pasajeros. Normalmente se 
alquila para recorrer trayectos cortos o medianos dentro de las poblaciones, aunque 
a veces se los utiliza para viajes largos, o para varios viajes dentro de una misma 
zona pero durante toda una jornada laboral. 
OPERADOR DE REMISES: 
un operador de remis, es aquella persona encargada de recibir las llamadas, tomar 
los dato encargada de comunicar a la persona que le toca realizar el viaje. 
MÓVIL 
se le llama móvil, al auto activo de remises. 
DESPACHAR 
El término despachar significa, atender a los clientes y se dice que un viaje se 
despacho, cuando ya se realizó. 
AGENDADO 
se dice que está agendado, cuando con anticipación se hace el encargo de un 
remis, suelen ser con uno o dos días antes. 
DEMORA 
Se dice que hay una demora cuando no hay móviles disponibles para realizar en 
ese mismo momento que se hizo el pedido. 

 Aplicación Móvil-APP: 
Una aplicación móvil, aplicación, apli app  (acortamiento del inglés application)
es una aplicación informática diseñada para ser ejecutada en teléfonos 
inteligentes, tabletas y otros dispositivos móviles. 
Las aplicaciones permiten al usuario efectuar un conjunto de tareas de 
cualquier tipo —profesional, de ocio, educativas, de acceso a servicios, etc.—, 
facilitando las gestiones o actividades a desarrollar.

PLANILLA:
Impreso o formulario con espacios en blanco para rellenar, en los que se dan 
informes, se hacen peticiones o declaraciones, etc.













Nuevo sistema de       información
● Mejorar la calidad de registro de datos 
● Agilizar la Atención al cliente 
● Agilizar la resolución de conflictos(cancelación,demora,queja) etc. 
● Control de operaciones diarias 
implementación del nuevo sistema de información 
● Se llevará a cabo una base de datos, que registre los procesos que se realicen en el día: 

VIAJES 
RESERVAS 
ENTRADAS 
SALIDAS
MÓVILES 
La base de datos también contará con los datos de los empleados de la remiseria 

OPERADORES
CHOFERES 






● Al finalizar la jornada se realizará un informe con los datos acumulados de ese día 
con fecha y hora de cada viaje. 
● Se creará una carpeta mensual con los informes de ese mes. 
● Se creará un informe para controlar las finanzas,entradas y salidas, pago de los 
móviles, pago de los operadores y cuentas mensuales( instalación y servicio) de la 
remiseria. 

Datos que necesita almacenar la remiseria 
Datos personales de los empleados(móviles,operadores)
Datos personales de los clientes 
Datos de los ingresos semanales 
Datos de la cantidad de viajes que se realizaron durante la semana,durante el mes y durante el año
Cantidad exacta de los móviles que entran y salen durante la semana , es decir altas y bajas que puedan ser corroborables desde el sistema 
Cantidad de clientes
Corroboración de quejas 
faltas o incumplimientos de los móviles 
El sistema de información requiere:

● Computadora de escritorio o notebook : La implementación de la computadora será indispensable para abordar el nuevo sistema de información mediante la base de datos, Libre base.

● Libre office basic ( instalado) : Será necesario la instalacion de libre base en la computadora, para llevar a cabo las actividades a desarrollar mediante una nueva rutina de trabajo.

● Impresora : La impresora permitirá la elaboración de los informes.

Durante el proceso se ejecutarán las operaciones necesarias para convertir los datos en información significativa. Cuando la información esté completa se ejecutará la operación de salida, en la que se prepara un informe que servirá como base para tomar decisiones.

● Actualización diaria : la actualización diaria se llevará a cabo cada día, ya que se estará interactuando con la misma, para ingresar las nuevas reservas, móviles, etc.
Para la utilización correcta del sistema de información,será necesario informar y 
capacitar al personal(operadores,jefe) quienes serán quienes manipulen el 
  sistema. 












    









 






















CASOS DE USO 





-En los siguientes diagramas se podrá observar claramente como son los procesos que se llevan a cabo en el establecimiento. 

Los personajes o entidades que participarán en un diagrama de caso de uso se denominan actores.

Se le llama actor a toda entidad externa al sistema que guarda una relación con éste y que le demanda una funcionalidad. Esto incluye a los operadores humanos pero también incluye a todos los sistemas externos, además de entidades abstractas, como el tiempo. 
































































ANEXO 

Preguntas de la  entrevista 
1-¿cuando fue fundada la remiseria? 
2-¿donde se ubica esta? 
3-¿cuáles son los objetivos generales del lugar? 
4-¿se están cumpliendo los objetivos de venta?-¿porque? 
5-¿se cuenta con los recursos necesarios para operar el negocio? 
6-¿los procesos que utilizan son adecuados o necesitan redefinirse? 
7-¿ el modo de trabajo resulta eficiente? 
8-¿qué servicios presta?¿ a quienes presta este servicio?¿para que lo hace? 
10-¿en donde se prestan los servicios? 
11-¿ con qué recursos físicos cuenta la remisería para prestar sus servicios? 
12-¿ cuál es su nivel de capacitación del recurso humano? 
13-¿ cuál es el recurso tecnológico del establecimiento?¿es suficiente o insuficiente para el desarrollo de actividades? 
14-¿ quienes toman las decisiones del establecimiento? 
15-¿ cuál es el criterio para fijar el precio por la prestación del servicio? 
16- ¿ cuál es el número actual de empleados del establecimiento? 
17-¿ cómo se ven los niveles de rentabilidad del establecimiento? 
18-¿cuáles son los valores básicos? Los que operan en la remiseria 
17 
19-¿ puede medir grado de satisfacción de los usuarios del servicio? 
20-¿ considera eficiente el servicio? 
21-¿cuántas horas se trabajan en el día, promedio? 
22-¿ tiene el establecimiento un plan de modernización para mejorar el sistema de información? 
23-¿cómo se ejecutan y almacenan los datos actualmente? 
24-¿ en caso de no contar con un sistema de información eficiente, que considera necesario para mejorarlo? 
25- ¿cuenta con un libro de quejas para el cliente? 
RESPUESTAS 
1)- La remiseria fue fundada hace 23 años, un 18 de mayo de 1996 
2) -se ubica en Cajamarca 1840, barrio santa Isabel segunda sección 
3 - OBJETIVOS GENERALES DEL LUGAR 
● Generar fuentes de trabajo 
● Brindar un servicio óptimo a los clientes 
● Mantener la clientela mensualmente 
● Generar ingresos abundantes 
● Perdurar a través de los años 
4- Por el momento si, contamos con una fiel clientela 
5- Si, contamos con muchos autos para la demanda pertinente, y es de 24 hs el servicio que se le presta a nuestros clientes. 
6- Por el momento se trabaja con una rutina de base de datos, (manual), donde se toman los llamados de los clientes, se registran sus nombres y direcciones, y por otro lado tenemos la lista de móviles disponibles, en donde se les va asignando su respectivo viaje. 
7- Si, resulta eficiente,pero eso también depende de la experiencia de cada telefonista, de la rapidez que tengan para pasar los viajes de manera inmediata y correcta. 
8- Prestamos el servicio de realizar viajes, a quienes nos soliciten de manera rápida, de una demora no mayor a los 15 minutos. 
Lo hacemos para cumplir una de las necesidades básicas como lo es el transporte, que las personas puedan acceder a viajar de una manera mas raṕida y fácil 
9- Los servicios se prestan en el domicilio de cada pasajero hasta el lugar de destino, también pueden llegarse hasta la remisería para solicitar un móvil. 
10- contamos con teléfono fijo,celular, red de Internet, agenda de viajes, ficheros, mapas de ubicación, contamos con un escritorio, silla a modo de oficina etc. 
11- No contamos con un alto nivel de capacitación, pero si se tiene en cuenta su responsabilidad, puntualidad y respeto para con la clientela, son indispensables esos tres requisitos para mantener la clientela. 
12- Como recurso tecnológico contamos con la red de Internet, el celular y una app con la cual nos comunicamos para comunicar los viajes a cada uno de los móviles. 
13- Los empleados deben abonar un arancel por el monto de 800 pesos semanales cada uno. 
14- Como criterio es necesario estar al tanto de los aumentos en la tarifa de remis y también de la nafta y gas, pero de todas manera tratamos de no estar aumentado constantemente. 
15- Actualmente contamos con 3 telefonistas , el dueño que es quien se encarga de tomar las decisiones, y 40 móviles que son los que se encuentran trabajando de manera fija. 
16- Bastante esperanzador, los empleados pueden obtener buenas ganancias, de igual modo que nosotros. 
17- los valores básicos: responsabilidad, puntualidad,buen trato y respeto. 
18- Los usuarios están bastantes conformes, diría que un 80./. 
19- si , considero eficiente el servicio, sobre todo porque se realiza con compromiso y responsabilidad. 

20- Como telefonista, trabajo unas 8 hs semanales, mi turno comienza a las 08:00 hasta las 14:00hs luego comienza el turno siguiente hasta las 22:00hs y también está el turno noche de 22:00 a 06:00hs donde comenzaría mi turno. 
Cada uno de los móviles también trabaja en el turno que más le quede conveniente, hay móviles que trabajan todo el día, de 06:00 a 22:00hs. 
21- últimamente implementamos la app, pero creemos que sería necesario también implementar una computadora. 
22- No la tenemos escritas, pero se habla con cada uno de los empleados y saben qué reglas seguir a la hora de trabajar. 
23- Los datos actualmente se registran y almacenan en las agendas de viaje, donde se registran los datos del cliente. 
24- Creo desde mi punto de vista que tendríamos que mejorar la agilización del registro de datos. 
25- si contamos con un libro de quejas, en el cual al hacer el descargo, nos encargamos de solucionar el inconveniente con el cliente. 

